body {
    background-image: url("../../../assets/images/timebomb-near.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: black;
    position: relative;
}

#digits-background {
    font-family: Digits, serif;
    position: fixed;
    top: 18.7vw;
    left: 43.8vw;
    font-size: 7vw;
    color: #79ff8e;
    opacity: 0.1;
}

#digits {
    font-family: Digits, serif;
    position: fixed;
    top: 18.7vw;
    left: 43.8vw;
    font-size: 7vw;
    color: #77f18a;
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    -moz-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
}

#digits span:not(.dot) {
    display: inline-block;
    width: 3.5vw;
    text-align: center;
}

#digits span.dot {
    display: inline-block;
    width: 1.5vw;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #bffcc2;
    }
    to {
        text-shadow: 0 0 20px #79ff8e;
    }
}

@font-face {
    font-family: Digits;
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../../../assets/fonts/DS-DIGI.TTF')
}

@font-face {
    font-family: Digits;
    font-style: normal;
    font-weight: bold;
    src: local(''),
    url('../../../assets/fonts/DS-DIGIB.TTF')
}
