#password-prompt {
    font-family: Console, serif;
    align-items: center;
    color: #BBBBBB;
    display: flex;
    flex-direction: column;
    position: fixed;
    border-radius: 2vw;
    width: 25vw;
    height: 20vw;
    border: 1px solid #333333;
    background-color: #222222;
    visibility: hidden;
    box-shadow: 0.5vw 0.5vw 1vw black;
    padding:2vw;
}

#password-prompt h3 {
    text-transform: uppercase;
}

#successes {
    font-size: 3vw;
    display: flex;
    flex: 1;
    flex-direction: row;
    padding-top: 2vw;
}

#successes i {
    margin:1vw 2vw;
}

#password-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#defuse {
    display:none;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    width: calc(100% - 2vw);
    background-color: #ff5757;
    border: 1px solid #333333;
    border-radius: 1vw;
    padding: 1vw;
    text-transform: uppercase;
}

#defuse:focus {
    outline: none;
}

#password {
    color: #fff;
    text-align: center;
    width: calc(100% - 2vw);
    background-color: transparent;
    border: 1px solid #333333;
    border-radius: 1vw;
    padding: 1vw;
    text-transform: uppercase;
    font-size: 25px;
}

@font-face {
    font-family: Console;
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../../../assets/fonts/JetBrainsMono-Regular.ttf')
}

@font-face {
    font-family: Console;
    font-style: normal;
    font-weight: bold;
    src: local(''),
    url('../../../assets/fonts/JetBrainsMono-Bold.ttf')
}
